.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
	background: linear-gradient(0% rgb(5, 181, 240), 100% rgb(13, 114, 230));
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

